@model IEnumerable<AnimalTinder.Models.Animal>

@{
    ViewBag.Title = "Carousel";
}


<asp:Content ID="Content3" ContentPlaceHolderID="ContentPlaceHolder1" runat="server">

    <style>
        .carousel {
            margin: 0px;
            padding: 0px;
        }

        .animal-img {
            height: 90vh;
            width: 100vw;
            object-fit: cover;
        }

        .carousel-indicators .active {
            background-color: transparent;
        }

        .rgba-black-light, .rgba-black-light:after {
            background-color: transparent;
        }

        .carousel-indicators {
            z-index: 0;
            bottom: -35px;
        }

        /* media screen and (min-width: 768px)
        .carousel-indicators {
            bottom: 20px;
        }*/
    </style>


    <div id="carousel-example-2"
         class="carousel slide carousel-fade"
         data-ride="carousel"
         data-interval="false">
        <!--Slides-->
        <div class="carousel-inner" role="listbox">
            @{var i = 0;}
          
            @foreach (var item in Model)
            {
                if (User.Identity.IsAuthenticated && User.Identity.Name.Equals(item.Email) || @ViewBag.LikedAnimals.Contains(item) || item.Gender.Equals(ViewBag.Gender) || (@ViewBag.Type != "All" && !item.Type.Equals(@ViewBag.Type)))
                {
                    continue;

                }
                var active = i == 0 ? "active" : "";
                <div class="item @active">
                    <div class="view">
                        <img class="d-block animal-img"
                             src=@item.ImgURL
                             alt="First slide" />
                        <div class="mask rgba-black-light"></div>
                    </div>
                    <div class="carousel-caption" style="margin-bottom: 40px">
                        <h3 class="h3-responsive">Slight mask</h3>
                        <p>Third text</p>
                        <ol class="carousel-indicators">
                            <a href="#carousel-example-2" role="button" data-slide="next">
                                <button type="button"
                                        class="btn btn-outline waves-effect"
                                        style="border-radius: 16px;
                padding: 11px 25px;
                border-radius: 16px;
                padding: 11px 25px;
                border-color: #7dcfb6;
                border: solid;
                color: #7dcfb6;
                background-color: #0000003a;
              ">
                                    Continue
                                </button>
                                <span class="sr-only">Previous</span>
                            </a>
                            <a href="#carousel-example-2" role="button" data-slide="next">
                                <button type="button"
                                        data-id="@item.ID"
                                        class="btn waves-effect like-animal"
                                        style="
                border-radius: 16px;
                padding: 11px 25px;
                border: solid;
                background-color: #f79256;
                color: #000;
                border-color: #f79256;
              ">
                                    Connect
                                </button>

                                <span class="sr-only">Next</span>
                            </a>
                        </ol>
                    </div>

                </div>
                i += 1;
            }

        </div>
        <!--/.Slides-->
    </div>

</asp:Content>
@section scripts{
    <script>
        $(document).ready(function () {
            var button;
            $(".like-animal").on("click", function () {
                button = $(this);
           
                $.ajax({
                    url: "/api/Animals1/" + button.attr("data-id"),
                    method: "PUT",
                    success: function () {
                        console.log("success");
                    }
                });
            });
        });
        
    </script>

}

