@model AnimalTinder.Models.Animal

@{
    ViewBag.Title = "Details";
}

<style>
    .card-body.my-profile .card-text a {
        /*padding-left: 15px;
        padding-right: 15px;
        padding-top: 5px;
        padding-bottom: 5px;

        border: solid;
        border-color: blue;
        border-radius: 20%;*/
        border-radius: 16px;
        padding: 4px 25px;
        border-color: #7dcfb6;
        border: solid;
        color: #7dcfb6;
        float: right;
        margin-top: 10px;
        font-size: 14px;
        display: block;
    }

        .card-body.my-profile .card-text a.back-button {
            float: left;
        }

    .form-actions {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
</style>

<div class="container" style="padding-left: 0px; padding-right: 0px">
    <div class="row" style="">
        <div class="col"
             style="
            height: auto;
            padding-top: 50px;
            padding-bottom: 50px;
            max-width: 500px;
    margin-left: auto;
    margin-right: auto;
          ">
            <img style="
              z-index: 10;
              position: relative;
              margin-left: auto;
              display: block;
              margin-right: auto;
              object-fit: cover;
              border-radius: 50%;
              height: 150px;
              width: 150px;
            "
                 src="@Model.ImgURL"
                 alt="Card image cap" />

            <div class="card"
                 style="
              margin-top: -70px;
              padding: 40px;
              padding-top: 110px;
              background-color: #fff;
            ">
                <div class="card-body my-profile">
                    <h4 class="card-title text-center">
                        @Html.DisplayFor(model => model.Name) the @Html.DisplayFor(model => model.Breed)
                    </h4>
                    <p class="card-text">
                        @Html.DisplayFor(model => model.Description) <br />
                        <b>Type: </b> @Html.DisplayFor(model => model.Type) <br />
                        <b>Age: </b>  @Html.DisplayFor(model => model.Age) <br />

                        <b>Gender: </b> @Html.DisplayFor(model => model.Gender) <br />
                        <b>Location: </b> @Html.DisplayFor(model => model.Location) <br />
                        <b>Email: </b> @Html.DisplayFor(model => model.Email) <br />
                    </p>

                    <div class="form-actions no-color">
                        @if (ViewBag.PreviousPage.Equals("MyProfile"))
                        {
                            @Html.ActionLink("Back to List", "MyProfile", "Animals", null, new { @class = "btn btn-outline-default back-button" })
                        }
                        else
                        {
                            @Html.ActionLink("Back to List", "Index", "Animals", null, new { @class = "btn-outline-default btn back-button" })
                        }
                        
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
