@model AnimalTinder.Models.Animal

@{
    ViewBag.Title = "MyProfile";
}

<style>
    .card-body.my-profile .card-text a {
        /*padding-left: 15px;
        padding-right: 15px;
        padding-top: 5px;
        padding-bottom: 5px;

        border: solid;
        border-color: blue;
        border-radius: 20%;*/
        border-radius: 16px;
        padding: 4px 25px;
        border-color: #7dcfb6;
        border: solid;
        color: #7dcfb6;
        float: right;
        margin-top: 10px;
        font-size: 14px;
        display: block;
    }
</style>

<div class="container-fluid" style="padding-left: 0px; padding-right: 0px">
    <div class="row" style="background-color: #eab579;">
        <div class="col-lg-4 col-md-6 col-sm-12"
             style="
            background-color: #eab579;
            height: auto;
            padding-top: 50px;
            padding-bottom: 50px;
          ">
            <img style="
              z-index: 10;
              position: relative;
              margin-left: auto;
              display: block;
              margin-right: auto;
              object-fit: cover;
              border-radius: 50%;
              height: 150px;
              width: 150px;
            "
                 src="@Model.ImgURL"
                 alt="Card image cap" />

            <div class="card"
                 style="
              margin-top: -70px;
              padding: 40px;
              padding-top: 110px;
              background-color: #fff;
            ">
                <div class="card-body my-profile">
                    <h4 class="card-title text-center">
                        @Html.DisplayFor(model => model.Name) the @Html.DisplayFor(model => model.Breed)
                    </h4>
                    <p class="card-text">
                        @Html.DisplayFor(model => model.Description) <br />
                        <b>Type: </b> @Html.DisplayFor(model => model.Type) <br />
                        <b>Age: </b>  @Html.DisplayFor(model => model.Age) <br />

                        <b>Gender: </b> @Html.DisplayFor(model => model.Gender) <br />
                        <b>Location: </b> @Html.DisplayFor(model => model.Location) <br />
                        <b>Email: </b> @Html.DisplayFor(model => model.Email) <br />

                        @Html.ActionLink("Edit", "Edit", new { id = Model.ID })
                        @Html.ActionLink("Liked Animals", "LikedAnimals", new { id = Model.ID })
                    </p>
                </div>
            </div>
        </div>

        <div class="col-lg-8 col-md-6 col-sm-12"
             style="
            background-color: #82c5ce;
            height: auto;
            padding-right: 30px;
            padding-top: 35px;
            padding-bottom: 50px;
          ">
            <h3 class="white-text" style="padding-left: 30px; font-weight: 700">
                Liked Animals
            </h3>
            <div class="row" style="margin-top: 47px">
                <div class="col-sm-12 col-md-6 col-lg-4 mb-4">
                    <div class="card">
                        <div class="view overlay">
                            <img class="card-img-top"
                                 style="width: 100%; max-height: 150px "
                                 src="https://mdbootstrap.com/img/Photos/Others/images/16.jpg"
                                 alt="Card image cap" />
                            <a href="#!">
                                <div class="mask rgba-white-slight"></div>
                            </a>
                        </div>

                        <div class="card-body rounded-bottom" style="padding: 20px; background-color: #fff;">
                            <h4 class="card-title">Card title</h4>
                            <hr class="hr">
                            <p class="card-text mb-4">
                                Some quick example text to build on the card title and make up the bulk
                                of the card's content.
                            </p>
                            <a href="#!" style="display: flex; justify-content: flex-end">
                                <h5>Details <i class="fas fa-angle-double-right"></i></h5>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
</div>
